body{
    background-color: lavender;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(135, 18, 153);
}

h1{
    font-family: 'Rowdies', cursive;
    font-size:xx-large;
    color: rgb(63, 3, 72);
}

ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(97, 14, 109);
}

ol{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(97, 14, 109);
}

#sun_pic{
    position: absolute; top: 95px; left: 395px;
}

#bkg{
    background-color: rgb(224, 196, 224);
    height: 500px;
    width: 700px;
}
